@import "../../assets/base.scss";

.search-box {
  border-radius: 4px;
  background-color: #fff;

  .icon {
    font-size: 26px;
    position: absolute;
  }

  /*in IE10+, hide X sign inside the input*/
  ::-ms-reveal,
  input[type=text]::-ms-clear {
    display: none;
  }

  ::-ms-reveal,
  input::-ms-clear {
    display: none;
  }

  input {
    border-radius: 4px;
    outline: none;
    border: 1px solid #fff;
    background-color: $backgroundColor;
    padding-left: 35px;
    height: 26px;
    -webkit-appearance: none;
    /*remove default sytle*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}