.signup {
  min-width: 330px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  *:focus {
    outline: none;
  }

  #icon {
    width: 60%;
  }
}