@import "../../assets/base.scss";

.header-wrapper {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid $border;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;

  .myInfo {
    visibility: hidden;
    display: inline-block;
  }

  .add {
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    margin-right: 10px;
  }

  .dialog-render {

    /*in IE10+, hide X inside input*/
    ::-ms-reveal,
    input[type=text]::-ms-clear {
      display: none;
    }

    ::-ms-reveal,
    input::-ms-clear {
      display: none;
    }
  }
}